.heading {
    margin: 2em 0 3em;
    font-family: Pokemon, serif;
}

.heading__img {
    margin: 0 auto;
    display: block;
    max-width: 300px;
}

.regions {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
}

.regions .single-region {
    text-transform: capitalize;
    padding: 0 15px;
    width: 100%;
}

.regions .single-region:first-child {
    padding-left: 0;
}

.regions .single-region:last-child {
    padding-right: 0;
}

.regions .single-region .region-content {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    background-color: rgba(0, 0, 0, .03);
    padding: 10px;
    cursor: pointer;
    text-align: center;
    transition: .2s ease;
}

.regions .single-region .region-content:hover {
    background-color: rgba(0, 0, 0, .1);
}

.regions .single-region .region-remove {
    background: #FFCE31;
    color: black;
    transition: .2s ease;
}

.region-selected {
    background: #2E2E9A !important;
    color: white !important;
}

.regions .single-region .region-remove:hover {
    background: #D9A930;
}

.regions .single-region p {
    text-align: center;
    margin: 0;
}

.content {
    margin: 1em 0 8em;
    min-height: 1000px;
}

.card-header {
    text-transform: capitalize;
    padding: 10px 15px;
}

.card-footer {
    padding: 10px 15px;
    background-color: rgba(0, 0, 0, .06);
}

.card-body {
    min-height: 128px;
    padding: 1em;
    background-color: rgba(0, 0, 0, .03);
}

.card-single {
    margin-top: 2em;
    text-align: center;
}

.card-single .type {
    text-transform: capitalize;
}

.pagination button {
    margin-top: 3em;
    width: 100%;
    padding: 12px 0;
}

.pagination i {
    font-size: 13px;
}

.pagination {
    background: rgba(0, 0, 0, 0.8);
    height: 85px;
    width: 100vw;
    position: fixed;
    left: 0;
    bottom: 0;
}

.pokemon-image {
    margin: 0 auto;
    display: block;
}

.col {
    flex-basis: 20%;
}

.button-content {
    margin: 0 auto;
}

.button-previous-wrap, .button-next-wrap {
    max-width: 200px;
}

.button-previous-wrap {
    position: fixed;
    left: 30px;
    bottom: 15px;
}

a {
    color: unset;
}

a:hover {
    text-decoration: none;
    color: unset;
}

.button-previous-wrap i {
    padding-right: .7em;
}

.card-body strong {
    font-weight: bolder;
    border-bottom: solid lightgrey 1px;
    padding-bottom: 10px;
    display: block;
}

.button-next-wrap i {
    padding-left: .7em;
}

.button-next-wrap {
    position: fixed;
    right: 30px;
    bottom: 15px;
}

.pokemon-type, .pokemon-abilities, .pokemon-stats {
    margin-top: 20px;
}

.pokemon-type p {
    text-transform: capitalize;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.pokemon-abilities {
    display: flex;
}

.pokemon-abilities p {
    margin: 0 10px !important;
    text-transform: capitalize;
    padding: 10px;
    background-color: rgba(0, 0, 0, .06);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    width: 50%;
    display: inline-block;
    flex-basis: 50%;
}

.pokemon-stats .col {
    flex-basis: 33%;
}

.pokemon-stats .col p:first-child {
    margin-bottom: 5px;
    padding: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.go-back {
    padding: 0 15px;
    display: none;
}

.active {
    display: block;
}

.go-back a {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
    background-color: rgba(0, 0, 0, .03);
    padding: 10px 20px;
    cursor: pointer;
    text-align: center;
    color: black;
}

.go-back a:hover {
    text-decoration: none;
}

.go-back a i {
    margin-right: 10px;
}

.pokemon-stats .col p {
    text-transform: capitalize;
    font-size: 14px;
    min-height: 44px;
}

.pokemon-stats .col p:nth-child(2) {
    margin-bottom: 5px;
}

.pokemon-stats .spd p:first-child {
    background: #FA92B2;
}

.pokemon-stats .spcd p:first-child {
    background: #A7DB8D;
}

.pokemon-stats .spa p:first-child {
    background: #9DB7F5;
}

.pokemon-stats .def p:first-child {
    background: #FAE078;
}

.pokemon-stats .att p:first-child {
    background: #F5AC78;
}

.pokemon-stats .hp p:first-child {
    background: #FF5959;
}